{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

        <div class="content">
            <div class="inner_content"><p>This is login page</p>
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                <form method="post" action="{% url 'app.views.login' %}">
                    {% csrf_token %}
                    <p>
                    <label for="username">Имя пользователя:</label>
                    <input type="text" name="username" value="" id="username">
                    </p>
                    <p>
                    <label for="password">Пароль:</label>
                    <input type="password" name="password" value="" id="upassword">
                    </p>
                    <input type="submit" value="login"/>
                    <input type="hidden" name="text" value="{{ next|escape }}"/>
                </form>
            </div>
        </div>
{% endblock %}