{% extends 'base.html' %}


{% block content %}
    <div class="content">
        <div class="inner_content">
            <p>You searched: {{ query }}</p>

            {% if srch_user %}
                <ul>
                    {% for su in srch_user %}
                        <li><a href="/accounts/profile/{{ su.id }}/"> {{ su.username }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Nothing found by your request</p>
            {% endif %}
        </div>
    </div>
{% endblock %}