{% extends 'base.html' %}

{% block title %}User{% endblock %}

{% block content %}
    <div class="content">

        <div class="userinfo">
        <h2> {{ user.username }} </h2>
        <p class="subscribing"><a href="/delete_profile/">Remove profile</a></p>

        {% if subscribings_user %}
        <p>Subscribes:</p>
        {% endif %}
            <ul>
            {% for subscribings in subscribings_user %}
                <li><a href="/accounts/profile/{{ subscribings.user.id }}/">{{ subscribings.name }}</a></li>
            {% endfor %}
            </ul>
        {% if subscribers_user %}
        <p>Subscribers:</p>
        {% endif %}
            <ul>
            {% for subscribers in subscribers_user %}
                <li><a href="/accounts/profile/{{ subscribers.user.id }}/">{{ subscribers.name }}</a></li>
            {% endfor %}
            </ul>

        </div>

        <div class="posts">
            <div class="post">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ mesform.as_p }}

                    <input class="submit" type="submit" value="Publish">

                </form>

                {% for e in message %}
                    <p><strong>{{ e.title }} <a href="/delete_message/{{ cur_user_id }}/{{ e.id }}/">(delete)</a></strong></p>
                    <p>{{ e.text }}</p>
                    <p class="authdate">{{ e.author }} - {{ e.date }}</p>
                    {% if e.date != last_message %}
                    <p>* * *</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}