{% extends 'base.html' %}

{% block title %}User{% endblock %}

{% block content %}
    <div class="content">

        <div class="userinfo">
        <h2>{{ page_owner }}</h2>

        {% if condition %}
            <p class="subscribing"><a href="/add_relationships/{{ page_owner.id }}/">Subscribe</a></p>
        {% endif %}

        {% for subscribings in subscribings_user %}
            {% if page_owner.id == subscribings.user.id %}
                <p class="subscribing"><a href="/remove_relationships/{{ page_owner.id }}/">Unsubscribe</a></p>
            {% endif %}
        {% endfor %}

        {% if subscribings_owner %}
        <p>Subscribes:</p>
        {% endif %}
            <ul>
            {% for subscribings in subscribings_owner %}
                <li><a href="/accounts/profile/{{ subscribings.user.id }}/">{{ subscribings.name }}</a></li>
            {% endfor %}
            </ul>
        {% if subscribers_owner %}
        <p>Subscribers:</p>
        {% endif %}
            <ul>
            {% for subscribers in subscribers_owner %}
                <li><a href="/accounts/profile/{{ subscribers.user.id }}/">{{ subscribers.name }}</a></li>
            {% endfor %}
            </ul>



        </div>

        <div class="posts">
            <div class="post">
                {% for e in message %}
                    <p><strong>{{ e.title }}</strong></p>
                    <p>{{ e.text }}</p>
                    <p class="authdate">{{ e.author }} - {{ e.date }}</p>
                    {% if e.date != last_message %}
                    <p>* * *</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}