{% extends 'base.html' %}

{% block title %}User{% endblock %}

{% block content %}
    <div class="content">

        <div id="userinfo">
        <p> Hello {{ user.username }}!</p>
        </div>

        <div id="posts">
            <form action="" method="POST">
                {% csrf_token %}
                {{ mesform.as_p }}

                <input type="submit" value="Update">

            </form>

            {% for e in message %}
                <p><strong>{{ e.title }}</strong></p>
                <p>{{ e.text }}</p>
                <p class="authdate">{{ e.author }} - {{ e.date }}</p>
                <hr>
            {% endfor %}
        </div>
    </div>


{% endblock %}